*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background: #121212;
  color: #fff;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 1em;
  max-width: 800px;
  margin-inline: auto;
}

.main h2{
  font-size: 3rem;
  color: #e21f27;
  display: flex;
  align-items: center;
  gap: 1rem
}

.main .question{
  height: 3.75rem;
}

.main .result{
  font-size: 2rem;
}

.main .cross{
  font-size: 5rem;
  font-weight: 900;
  color: gray;
  opacity: 0.3;
  user-select: none;
  
}

.main .cross.active{
  text-shadow: 0px 0px 15px rgba(255,0,0,0.5);
  color: crimson;
  opacity: 1;
}

.main .guessWord{
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 900;
  display: flex;
  gap: 0.25em;
  flex-wrap: wrap;
  justify-content: center;
}

.main .guessWord .words{
  width: 4rem;
  display: flex;
  justify-content: center;
}

.main .keybord{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4.3rem, 1fr));
  gap: 0.6em;

}

.main .keybord .key{
  width: 100%;
  aspect-ratio: 1/1;
  font-size: 2rem;
  font-weight: bold;
  border: 0.2rem solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.main .keybord .key.active{
  background-color: hsl(200, 100%, 70%);
}

.main .keybord .key.inactive{
  background-color: gray;
  opacity: 0.3;
}

.main .keybord .key:hover:not(:disabled),
.main .keybord .key:focus:not(:disabled){
  background-color: hsl(200, 100%, 50%);
}

.main .attempt{
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
  justify-content: center;
}

.main .cross.shake{
  animation: shake;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  backface-visibility: hidden;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}



@media screen and (max-width: 768px) {
    html{
      font-size: 67.5%;
    }
}

